.wp-block-button {

	&__link {
    padding: $button-padding;
		border-radius: $button-border-radius;
		word-break: break-word;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    line-height: $button-line-height;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }

		&:not(.has-text-color) {
			color: var(--theme-dark-color);

			&:hover {
				color: var(--theme-dark-color);
			}
		}

		&:not(.has-background) {
			
			background-color: var(--theme-secondary-color);

			&:hover,
			&:focus {
				background-color: var(--theme-secondary-dark-color);
			}
		}
	}
}