.DS_Store
node_modules
.env
style.css
wordpress

/assets/css
/assets/js/*
!/assets/js/src

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.local-chromium
bin
obj
