$gb-dark:            var(--theme-dark-color);
$gb-primary-dark:    var(--theme-primary-dark-color);
$gb-primary:         var(--theme-primary-color);
$gb-primary-light:   var(--theme-primary-light-color);
$gb-secondary-dark:  var(--theme-secondary-dark-color);
$gb-secondary:       var(--theme-secondary-color);
$gb-secondary-light: var(--theme-secondary-light-color);
$gb-light:           var(--theme-light-color);

$gutenberg-colors: (
  "dark":            $gb-dark,
  "primary-dark":    $gb-primary-dark,
  "primary":         $gb-primary,
  "primary-light":   $gb-primary-light,
  "secondary-dark":  $gb-secondary-dark,
  "secondary":       $gb-secondary,
  "secondary-light": $gb-secondary-light,
  "light":           $gb-light
);

$gutenberg-dim-values: (
  10: 9,
  20: 8,
  30: 7,
  40: 6,
  50: 5,
  60: 4,
  70: 3,
  80: 2,
  90: 1 
);

//***Fonts
$font-family-base: sans-serif;

$gb-h1: var(--theme-h1-font);
$gb-h2: var(--theme-h2-font);
$gb-h3: var(--theme-h3-font);
$gb-h4: var(--theme-h4-font);
$gb-h5: var(--theme-h5-font);
$gb-h6: var(--theme-h6-font);

$gutenberg-headings: (
  'h1': $gb-h1,
  'h2': $gb-h2,
  'h3': $gb-h3,
  'h4': $gb-h4,
  'h5': $gb-h5,
  'h6': $gb-h6
);

//*** Button
$button-font-size: 14px;
$button-line-height: 17px;
$button-font-weight: 500;
$button-padding: ( $spacer * .875 ) ( $spacer * 1.5 );
$button-border-radius: 0;