%heading {
  text-transform: uppercase;
  font-weight: 500;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading;
  &:not(.has-text-color) {
    color: var(--theme-light-color);
  }
}

@each $name, $level in $gutenberg-font-sizes {

  h#{$name} {

    font-size: calc( #{$level} * .8 );
    line-height: $level;

    @media ( min-width: var(--theme-md-media) ) {

      font-size: $level;
      line-height: calc( #{$level} * 1.2 );
    }
  }
}

p {
  font-size: var(--theme-paragraph-font);
}

a {
  font-size: var(--theme-anchor-font);
}