.has-dark-color {
  color: var(--theme-dark-color); }

.has-dark-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-dark-color); }

.has-primary-dark-color {
  color: var(--theme-primary-dark-color); }

.has-primary-dark-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-primary-dark-color); }

.has-primary-color {
  color: var(--theme-primary-color); }

.has-primary-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-primary-color); }

.has-primary-light-color {
  color: var(--theme-primary-light-color); }

.has-primary-light-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-primary-light-color); }

.has-secondary-dark-color {
  color: var(--theme-secondary-dark-color); }

.has-secondary-dark-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-secondary-dark-color); }

.has-secondary-color {
  color: var(--theme-secondary-color); }

.has-secondary-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-secondary-color); }

.has-secondary-light-color {
  color: var(--theme-secondary-light-color); }

.has-secondary-light-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-secondary-light-color); }

.has-light-color {
  color: var(--theme-light-color); }

.has-light-background-color,
.wp-block-cover.has-background-dim {
  background: var(--theme-light-color); }

.has-default-font-size {
  font-size: var(--theme-sm-font-size) !important; }

.has-small-font-size {
  font-size: var(--theme-xs-font-size) !important; }

.has-normal-font-size {
  font-size: var(--theme-md-font-size) !important; }

.has-medium-font-size {
  font-size: var(--theme-lg-font-size) !important; }

.has-large-font-size {
  font-size: var(--theme-xl-font-size) !important; }

.has-huge-font-size {
  font-size: var(--theme-xxl-font-size) !important; }

.alignleft {
  text-align: left; }

.aligncenter {
  text-align: center; }

.alignright {
  text-align: right; }

.alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  padding-right: 0;
  padding-left: 0; }
  @media (max-width: 768px) {
    .alignfull {
      max-width: 100%;
      width: 100%;
      margin: 0 calc(50% - 50%); } }

.wp-block-button [type="submit"]:not(.has-text-color),
.wp-block-button button:not(.has-text-color), .wp-block-button__link:not(.has-text-color) {
  color: var(--theme-light-color); }
  .wp-block-button [type="submit"]:not(.has-text-color):hover,
  .wp-block-button button:not(.has-text-color):hover, .wp-block-button__link:not(.has-text-color):hover {
    color: var(--theme-light-color); }

.wp-block-button [type="submit"]:not(.has-background),
.wp-block-button button:not(.has-background), .wp-block-button__link:not(.has-background) {
  background-color: var(--theme-primary-color); }
  .wp-block-button [type="submit"]:not(.has-background):hover, .wp-block-button [type="submit"]:not(.has-background):focus,
  .wp-block-button button:not(.has-background):hover,
  .wp-block-button button:not(.has-background):focus, .wp-block-button__link:not(.has-background):hover, .wp-block-button__link:not(.has-background):focus {
    background-color: var(--theme-primary-color); }

.wp-block-button [type="submit"].has-dark-color:hover, .wp-block-button [type="submit"].has-dark-color:focus,
.wp-block-button button.has-dark-color:hover,
.wp-block-button button.has-dark-color:focus, .wp-block-button__link.has-dark-color:hover, .wp-block-button__link.has-dark-color:focus {
  color: var(--theme-dark-color); }

.wp-block-button [type="submit"].has-dark-background-color:hover, .wp-block-button [type="submit"].has-dark-background-color:focus,
.wp-block-button button.has-dark-background-color:hover,
.wp-block-button button.has-dark-background-color:focus, .wp-block-button__link.has-dark-background-color:hover, .wp-block-button__link.has-dark-background-color:focus {
  background-color: var(--theme-dark-color); }

.wp-block-button [type="submit"].has-primary-dark-color:hover, .wp-block-button [type="submit"].has-primary-dark-color:focus,
.wp-block-button button.has-primary-dark-color:hover,
.wp-block-button button.has-primary-dark-color:focus, .wp-block-button__link.has-primary-dark-color:hover, .wp-block-button__link.has-primary-dark-color:focus {
  color: var(--theme-primary-dark-color); }

.wp-block-button [type="submit"].has-primary-dark-background-color:hover, .wp-block-button [type="submit"].has-primary-dark-background-color:focus,
.wp-block-button button.has-primary-dark-background-color:hover,
.wp-block-button button.has-primary-dark-background-color:focus, .wp-block-button__link.has-primary-dark-background-color:hover, .wp-block-button__link.has-primary-dark-background-color:focus {
  background-color: var(--theme-primary-dark-color); }

.wp-block-button [type="submit"].has-primary-color:hover, .wp-block-button [type="submit"].has-primary-color:focus,
.wp-block-button button.has-primary-color:hover,
.wp-block-button button.has-primary-color:focus, .wp-block-button__link.has-primary-color:hover, .wp-block-button__link.has-primary-color:focus {
  color: var(--theme-primary-color); }

.wp-block-button [type="submit"].has-primary-background-color:hover, .wp-block-button [type="submit"].has-primary-background-color:focus,
.wp-block-button button.has-primary-background-color:hover,
.wp-block-button button.has-primary-background-color:focus, .wp-block-button__link.has-primary-background-color:hover, .wp-block-button__link.has-primary-background-color:focus {
  background-color: var(--theme-primary-color); }

.wp-block-button [type="submit"].has-primary-light-color:hover, .wp-block-button [type="submit"].has-primary-light-color:focus,
.wp-block-button button.has-primary-light-color:hover,
.wp-block-button button.has-primary-light-color:focus, .wp-block-button__link.has-primary-light-color:hover, .wp-block-button__link.has-primary-light-color:focus {
  color: var(--theme-primary-light-color); }

.wp-block-button [type="submit"].has-primary-light-background-color:hover, .wp-block-button [type="submit"].has-primary-light-background-color:focus,
.wp-block-button button.has-primary-light-background-color:hover,
.wp-block-button button.has-primary-light-background-color:focus, .wp-block-button__link.has-primary-light-background-color:hover, .wp-block-button__link.has-primary-light-background-color:focus {
  background-color: var(--theme-primary-light-color); }

.wp-block-button [type="submit"].has-secondary-dark-color:hover, .wp-block-button [type="submit"].has-secondary-dark-color:focus,
.wp-block-button button.has-secondary-dark-color:hover,
.wp-block-button button.has-secondary-dark-color:focus, .wp-block-button__link.has-secondary-dark-color:hover, .wp-block-button__link.has-secondary-dark-color:focus {
  color: var(--theme-secondary-dark-color); }

.wp-block-button [type="submit"].has-secondary-dark-background-color:hover, .wp-block-button [type="submit"].has-secondary-dark-background-color:focus,
.wp-block-button button.has-secondary-dark-background-color:hover,
.wp-block-button button.has-secondary-dark-background-color:focus, .wp-block-button__link.has-secondary-dark-background-color:hover, .wp-block-button__link.has-secondary-dark-background-color:focus {
  background-color: var(--theme-secondary-dark-color); }

.wp-block-button [type="submit"].has-secondary-color:hover, .wp-block-button [type="submit"].has-secondary-color:focus,
.wp-block-button button.has-secondary-color:hover,
.wp-block-button button.has-secondary-color:focus, .wp-block-button__link.has-secondary-color:hover, .wp-block-button__link.has-secondary-color:focus {
  color: var(--theme-secondary-color); }

.wp-block-button [type="submit"].has-secondary-background-color:hover, .wp-block-button [type="submit"].has-secondary-background-color:focus,
.wp-block-button button.has-secondary-background-color:hover,
.wp-block-button button.has-secondary-background-color:focus, .wp-block-button__link.has-secondary-background-color:hover, .wp-block-button__link.has-secondary-background-color:focus {
  background-color: var(--theme-secondary-color); }

.wp-block-button [type="submit"].has-secondary-light-color:hover, .wp-block-button [type="submit"].has-secondary-light-color:focus,
.wp-block-button button.has-secondary-light-color:hover,
.wp-block-button button.has-secondary-light-color:focus, .wp-block-button__link.has-secondary-light-color:hover, .wp-block-button__link.has-secondary-light-color:focus {
  color: var(--theme-secondary-light-color); }

.wp-block-button [type="submit"].has-secondary-light-background-color:hover, .wp-block-button [type="submit"].has-secondary-light-background-color:focus,
.wp-block-button button.has-secondary-light-background-color:hover,
.wp-block-button button.has-secondary-light-background-color:focus, .wp-block-button__link.has-secondary-light-background-color:hover, .wp-block-button__link.has-secondary-light-background-color:focus {
  background-color: var(--theme-secondary-light-color); }

.wp-block-button [type="submit"].has-light-color:hover, .wp-block-button [type="submit"].has-light-color:focus,
.wp-block-button button.has-light-color:hover,
.wp-block-button button.has-light-color:focus, .wp-block-button__link.has-light-color:hover, .wp-block-button__link.has-light-color:focus {
  color: var(--theme-light-color); }

.wp-block-button [type="submit"].has-light-background-color:hover, .wp-block-button [type="submit"].has-light-background-color:focus,
.wp-block-button button.has-light-background-color:hover,
.wp-block-button button.has-light-background-color:focus, .wp-block-button__link.has-light-background-color:hover, .wp-block-button__link.has-light-background-color:focus {
  background-color: var(--theme-light-color); }


/*# sourceMappingURL=style.css.map*/