.cookie {

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  visibility: hidden;
  background-color: var(--theme-primary-dark-color);
  opacity: 0;
  transition: opacity .5 ease-in-out, visibility .5s ease-in-out;

  &[data-visible="true"] {
    visibility: visible;

    opacity: 1;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-text {
    margin-bottom: 0;
    font-size: var(--theme-paragraph-font);
    font-weight: 300;
    color: var(--theme-light-color);
  }

  &-accept {
    word-break: normal;
  }
}
