$width: 50px;
$height: 28px;
$gutter: 8px;
$switch-width: ( $width / 2 ) - ( $gutter / 2 );
$switch-height: $height - $gutter;
$speed: .3s;

.switch {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;

  input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    transition: $speed;

    &::before {
      position: absolute;
      bottom: $gutter / 2;
      left: $gutter / 2;
      width: $switch-width;
      height: $switch-height;
      content: "";
      background-color: #fff;
      border-radius: 50%;

      transition: $speed;
    }
  }

  input:checked + .slider {
    background-color: #2271b1;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2271b1;
  }

  input:checked + .slider::before {
    transform: translateX($switch-width);
    transform: translateX($switch-width);
    transform: translateX($switch-width);
  }
}
